# Node dependencies
node_modules/
package-lock.json

# Logs
*.log

# Environment variables
.env

# Test outputs and snapshots
coverage/
*.test.js.snap

# Editor/IDE settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Process IDs or temp files
*.pid
